@font-face {
    src: url(Hanged\ Letters.ttf);
    font-family: hang;

}

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

body {
    position: absolute;
}
.home-sec {
    height: 50em;
    width: 76em;
    padding-top: 9em;   
    padding-left: 5.938em;

}

.project-sec {
    height: 550px;
    width: 1000px;
    padding-left: 95px;
}

.contact-sec {
    height: 200px;
    width: 100%;
    padding-left: 95px;
    background-color: aliceblue;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

/* .contact-sec ul li {
    list-style: none;
    display: inline-block;
    align-items: center;
    justify-content:space-evenly;
    font-size: 1.25em;

} */

table, th, td {
    font-family: sans-serif;
    width: 70%;
    font-size: 1.1em;
    white-space: nowrap;
    text-align: center;
    table-layout: fixed;
    color:#CBC3E3;


}

h2 {
    font-family: hang;
    font-size: 60px;
    display: inline-block;
    color: #CBC3E3;
    top: 0; 
    padding-left: 3.5em; 
}

#navbar {
    position: fixed;
    /* top: 0; */
    transition: top 0.3s;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: inline-block;

  }
  
  #navbar ul li {
    display: inline-block;
    color: #CBC3E3;
    text-align: center;
    padding: 2.1em 0;
    text-decoration: none;
    font-size: 17px;
    margin: 0 1.5em;
    /* margin-left: 5.1em; */
    float: right;
}
  
  #navbar ul li a{
    text-decoration: none;
    color: #CBC3E3;
    font-size: 1.25em;

    
}
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }

h3 {
    color: #CBC3E3;
    padding: 30px;
    position: relative;
    font-size: 25px;
    margin-left: 109px;

}

.abouta {
    padding: 30px;
    font-size: 20px;
    margin-left: 109px;
    width: 500px;
    word-wrap: normal;

}

p1 {
    font-size: 20px;
    padding: 30px;
    margin-left: 109px;
    
}

p1.a {
    font-size: 40px;
    margin-left: 1.55em;
    justify-content: center;
    padding: 1.875em;
    flex-direction: column;
}

img.a {
    position: relative;
    width: 350px;
    display: inline-flex;
    float: right;
    margin-top: 0%;
    /* margin-right: 100px; */
}

#shop-table {
    border-spacing: 4.1em;
    margin-left: auto;
    margin-right: auto;


}
#shop-table img{
    border: 1px solid black;
    width: 100%;
    align-items: center;  

    /* padding-top: 9em;    */
    /* padding-left: 5.938em; */


}

#planner-table {
    border-spacing: 4.1em;
    margin-left: auto;
    margin-right: auto;
}

#planner-table img {
    border: 1px solid black;
    width: 100%;
    align-items: center;  
}

h3.subtitles {
    margin-top: 8em;
    padding-left: 7.5em;
}

h3.psub {
    padding-left: 7.5em;
    padding-top: 2em;
}