@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F9F8F6;
  font-family: Arial, Helvetica, sans-serif;
  /* margin-left: 2em;
  margin-right: 2em; */
}

.hover\:purple-shadow:hover {
  box-shadow: 0 10px 15px -3px rgba(201, 194, 207, 1), /* Adjust the rgba values to your chosen color */
              0 4px 6px -2px rgba(128, 90, 213, 0.25); /* Same here */
}

nav h2 {
  padding: 2em;
}

.about-me {
  font-size: larger;
  margin-left: 2em;
  margin-right: 2em;
}

.title-name {
  margin-top: 2em;
  font-size: 4em;
  text-align: left;
  margin-left: 4em;
}

.title-long-sub {
  margin-left: 4em;
  padding-left: 13em;
  font-size: 1.5em;
  padding-top: 1em;
}

.title-sub {
  margin-top: .5em;
  font-size: 1.5em;
}

.title-pad {
  padding-right: .2em;
}

.arrow {
  padding-top: 5em;
}

.current {
  background-color: #f3e4e2;
  height: 40em;
  width: 100%;
}

.current-text {
  margin-left: 3em; 
  padding-top: 1em;
  color:#363636;
}

.current-span {
  color: #864d87;
}

.current li {
  padding-left: 2em;
  padding-bottom:1.5em;
}

.me {
  background-color: #F9CB9C;
}

.me li {
  padding: 5px;
}

footer {
  background-color: #D7D7D7;
  padding: 3em;
}

.project-view {
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
  justify-content: left;
}

@media (max-width: 1024px) { 
  .title-name {
    margin-top: 2em;
    font-size: 3em;
    text-align: center;
    margin-left: 0;
  }
} 