@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F5E8E2;
}

nav h2 {
  padding: 2em;
}

.about-me {
  font-size: larger;
}

.current {
  background-color: #C9C2CF;
  height: 20em;
}

.current li {
  padding: 5px;
}

.me {
  background-color: #F5E8E2;
}

.me li {
  padding: 5px;
}

footer {
  background-color: #D7D7D7;
  padding: 3em;
}

/* @font-face {
  font-family: "hang";
  src: url("../public/HangedLetters.ttf");
} */